/* -----------importing google-fonts --------------*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&family=Dancing+Script:wght@700&family=Edu+NSW+ACT+Foundation:wght@700&family=Edu+VIC+WA+NT+Beginner:wght@700&family=Open+Sans:wght@700&family=Poppins:wght@500&display=swap');
h3{
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
/*------------ Header-style------------------
--------------------------------------------- */
.top-banner{
    /* width: 1321px; */
    /* height: 646px; */
    background-color:  #161616;
    border-radius: 30px;
    display: flex;
    margin-bottom: 130px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}
.top-banner .player-img img{
    
    width: 581px;
    /* height: 100%; */
}
.half-width{
    width: 50%;  
}
.section-title {
    margin-left: 100px;
    margin-right: 24px;
    color:#FFFFFF;
    font-family: 'Poppins';
}
.section-title h1{
    color:#FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
}
.btn{
    font-family: 'Edu VIC WA NT Beginner';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #DD0000;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
}
.btn:hover{
    transform: scale(1,2);
}
/* .player-img  img{
    width: 581px;
    height: 613px;
    margin-right: 80px;
} */
/*------------------ Transfer news and blog---------------
------------------------------------------------------ */
.container{
    display: flex;
     /*align-items: center; */
    flex-direction: row; 
    justify-content: center;
    gap: 20px  ;
}  

.container .menu{
    width: 312px;  /**/
    height: 282px;
    background: #161616;
    border-radius: 10px;
    /* margin-left: 03px; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.menu li{
    list-style-type: none;
    width: 200px;
    background: #FFFFFF;
    border-radius: 10px;
    
}
.menu li a{
    
    display: block;
    text-decoration: none;
    text-align: center;
    /* padding-top: 10px; */
    /* height: 64px; */
    
    font-weight: 600;
    font-size: 20px;
    padding: 10px 0;

}
.menu li a:hover{
    font-size: 20px;
    font-weight: 500;
    background-color: royalblue;
    color: black;
    transition: 0.4s;
}
.blog-btn{
    width: 252px;
    /* height: 64px; */
    background: #FFFFFF;
    border-radius: 10px;
    /* margin: 30px; */
    font-family: 'Poppins';
    color: #161616;
    font-weight: 500;
    font-size: 25px;
    padding: 10px 0;
    cursor: pointer;
}

.blog-btn:hover{
    background-color: royalblue;
    color: black;
    /* font-size: 25px; */
    transition: 0.4s;
}
.menu li.selected{
    /* display: block;
    width: 252px; */
    /* height: 64px; */
    background-color: #DD0000;
    /* border-radius: 10px; */
    /* margin: 30px; */
    /* color: #FFFFFF; */
    /* font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    padding: 10px 0; */
}
.tranfers{
    /* 
    gap */
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
    grid-column-gap:20px ;
     
}
.transfer{
    align-items: center;
    color: #161616;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
     border: 1px solid rgb(248, 238, 238);
     border-radius: 10px;
     width: 312px;
     height: 362px;
}
.transfer img{
    width: 100%;
}
.transfer button{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    margin-left: 15px;
    border-radius: 5px;
    margin-top: 5px;
}
.transfer h3{
    margin-left: 15px;
}

.transfer-info{
    color:rgba(22, 22, 22, 0.7);
    margin-left: 5px;
}
.fa-clock, .fa-comment{
     margin: 15px;
}
.view-all{
    display: none;
}

/* ----------------------------------------
--------------------footer----------------- */
footer{
    background-color: black;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}
.footer-goal{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    padding-top: 120px;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 95%;
}
footer .footer-nav{
   font-family: 'Cormorant SC', serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
}
.footer-nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
footer .footer-nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    /* margin-left: 80px;
    margin-bottom: 130px; */
}
footer .footer-nav ul li a{
    text-decoration: none;
    color: #B9B9B9;
}
/*Social media account styles*/

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 40px;
}
footer .social-media ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin-left: 80px;
    margin-bottom: 130px;
}
footer .social-media ul li a{
    text-decoration: none;
    color: #b61818;
}
/* ----------------------------------------------------------------------- ---------------------Responsiveness ---------------------------*/
                    /*Tablet devices*/
@media only screen and (min-width: 688px) and (max-width: 992px){
  /* .top-banner{
    width: 734px;
    height: 398px;  
    }  */

.top-banner{
           /* width: 100%;  
          height: 100%;  */
          display: flex;
           flex-direction: row; 
           justify-content: center; 
            align-items: flex-end;
           gap: 20px; 
           margin: 50px;
            }
   /* .half-width{
    width: 50%;
   } */
 /* .top-banner .section-title{
    width: 316px;
    height: 276px;
}  */
 .top-banner .player-img img{
    width: 223px;
    height: 340px;
} 
.section-title h1{
    font-size: 40px;
}
    .container{
        width:100%;
    }

    .container{
        display: flex;
        flex-direction: column; 
        justify-content: center;
        gap: 20px  ;
    }  
    
    .container .menu{
        width: 100%;  
        height: 82px;
        background: #f0e4e4;
        border-radius: 10px;
        
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .menu li{
        list-style-type: none;
        width: 200px;
        background: #FFFFFF;
        border-radius: 10px;
        
    }
    .menu li a{
        
        display: block;
        text-decoration: none;
        text-align: center;
        color:#161616;
        font-weight: 500;
        font-size: 20px;
        padding: 10px 0;
    
    }
    .blog-btn{
        width: 252px;
        
        background: #FFFFFF;
        border-radius: 10px;
        
        font-family: 'Poppins';
        color: #161616;
        font-weight: 500;
        font-size: 20px;
        padding: 10px 0;
    }
    .menu li.selected{
        background-color: #DD0000;
       
    }
.tranfers{
    /* 
    gap */
    width: 100%;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:30px;
    grid-column-gap:20px ;
}
 .transfer{
    align-items: center;
    color: #161616;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
     border: 1px solid rgb(248, 238, 238);
     border-radius: 10px;
     width: 357px;
     height: 415px;
} 
.transfer img{
    width: 357px;
    height: 200.24px;
}
.view-all{
    text-align: center;
    display: block;
    margin-bottom: 50px;
    
}
.view-all button{
    background-color: #DD0000;
    border-radius: 25px;
    padding: 12px 29px;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    
    text-align: center;
    
    color: #FFFFFF;
}
footer{
    width: 100%;
}
}
                /* Mobile Device  */
@media only screen and (max-width: 687px){
 .top-banner{
   width: 100%;  
  height: 100%; 
  display: flex;
   flex-direction: column; 
   justify-content: center; 
    align-items: center;
   gap: 20px; 
    }
 .top-banner .player-img img{
    width: 233px;
    height: 245px;
} 
.section-title h1{
    font-size: 22px;
    text-align: center;
}
.container{
     width:100%;
    display: flex; 
    
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px  ;
}  

.container .menu{
    /* width: 100%;   */
    height: 282px;
    background: #f0e4e4;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.menu li{
    list-style-type: none;
    width: 200px;
    background: #FFFFFF;
    border-radius: 10px;
    
}
.menu li a{
    
    display: block;
    text-decoration: none;
    text-align: center;
    color:#161616;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 0;

}
.blog-btn{
    width: 252px;
    
    background: #FFFFFF;
    border-radius: 10px;
    
    font-family: 'Poppins';
    color: #161616;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 0;
}
    .menu li.selected{
        background-color: #DD0000;
       
    }
.tranfers{
    /* 
    gap */
    /* width: 100%; */
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap:30px;
    grid-column-gap:20px ;
}
 .transfer{
    align-items: center;
    color: #161616;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
     border: 1px solid rgb(248, 238, 238);
     border-radius: 10px;
     width: 357px;
     height: 415px;
} 
.transfer img{
    width: 100%;
}
.view-all{
   display: none;
    
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
        }
        footer .footer-nav ul li{
            display: block;     
        }
 
        }